@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --map-width: 1065px;
    --map-height: 973px;
    --pin-size: 20px;
}

body {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    /* background-color: lightblue; */
}

#index {
    overflow-x: hidden;
    overflow-y: hidden;
}

img {
    display: block;
    margin: 0;
    margin: auto;
    padding: 0;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

#index h1 {
    margin-left: 50px;
    text-align: left;
    text-transform: none;
    font-family: "Caveat", cursive;
    font-size: 3em;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
}

a {
    color: lightgray;
    text-decoration: none;
    transition: 500ms;
}

a:hover, a.active {
    text-decoration: underline;
    color: black;
}

.pin {
    margin: 0;
    padding: 0;
    width: 40px;
    height: 80px;
    background-image: url('./assets/map_pin_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    transition: 20ms;
}

#map-container {
    position: absolute;
    margin: auto;
    mix-blend-mode: multiply;
    /* outline: 1px solid black; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#map {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;
    width: 100%;
    mix-blend-mode: multiply;
}

#map-overlay {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
}

#map-overlay * {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#map-labels {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
}

#map-labels * {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 200px;
}

#dummy-image {
    opacity: 0;
}

#footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    text-transform: lowercase;
}

#detail {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#about {
    text-align: center;
}

#detail #text-content {
    text-align: left;
}

#detail h1, #about h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#detail img {
    box-sizing: border-box;
    padding: 50px;
    padding-top: 0;
    width: 100%;
    height: auto;
}

#text-content {
    padding-right: 50px;
    padding-top: 0;
    max-width: 650px;
}

#about img {
    width: 40vw;
    margin-bottom: 50px;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    margin-top: 0;
}

a img {
    width: 100%;
    height: auto;
}