#footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    text-transform: uppercase;
    background-color: white;
    z-index: 2;
}

#footer a {
    text-decoration: none;
    color: gray;
    transition: 200ms;
}

#footer a:hover {
    /* text-decoration: underline; */
    color: black;
}