@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');

:root {
    --map-width: 1065px;
    --map-height: 973px;
    --pin-size: 20px;
}

body {
    margin: 0;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    /* background-color: lightblue; */
}

#content-container {
    display: grid;
    grid-template-columns: 4fr 3fr;
    gap: 50px;
    padding: 50px;
    max-width: 1400px;
    /* Vertically align grid elements to the top */
    justify-items: flex-start;
    margin: auto;
}

#img-container {
    height: 100%;
}

#index {
    overflow-x: hidden;
    overflow-y: hidden;
    cursor: move;
    margin: 0;
    padding: 0;
}

img {
    display: block;
    margin: 0;
    margin: auto;
    padding: 0;
    width: 100%;
}

h1 {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-weight: normal;
}

blockquote {
    font-style: italic;
}

#index h1 {
    margin-left: 50px;
    text-align: left;
    text-transform: none;
    font-family: "Caveat", cursive;
    font-size: 3em;
}

h2 {
    text-transform: uppercase;
    font-weight: normal;
}

a:not(.map-pin) {
    color: lightgray;
    text-decoration: none;
    transition: 500ms;
}

a:hover, a.active {
    text-decoration: underline;
    color: black;
}

.map-pin {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 40px;
    background-image: url('./assets/map_pin_1.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
}

#map-container {
    position: absolute;
    margin: 0;
    /* mix-blend-mode: multiply; */
    /* outline: 1px solid black; */
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    padding: 0;
}

#map-title {
    display: none;
    position: fixed;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: 2;
    width: 100%;
    /* mix-blend-mode: multiply; */
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 250px;
}

#map {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    z-index: -1;
    width: 100%;
    /* mix-blend-mode: multiply; */
    margin: 0;
    padding: 0;
}

#map-overlay {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
}

#map-overlay * {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#labels-container {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
}

#pins-container {
    /* display: none; */
    position: absolute;
    z-index: 1;
    width: 100%;
}

#labels-container * {
    position: absolute;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    width: 264px;
    transition: opacity 300ms;
    opacity: 0.5;
}

#footer {
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    text-transform: lowercase;
    background-color: white;
    z-index: 2;
    /* border-top: 1px solid lightgray; */
}

#about {
    text-align: center;
}


#detail h1, #about h1 {
    margin-top: 0;
    margin-bottom: 0;
}

#detail img {
    box-sizing: border-box;
    padding-top: 0;
    width: 100%;
    height: auto;
}

#text-content {
    text-align: left;
    /* padding-right: 50px; */
    padding-top: 0;
    /* max-width: 650px; */
    text-align: justify;
}

#about img {
    width: 40vw;
    margin-bottom: 50px;
}

#gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 50px;
    margin-top: 0;
}

a img {
    width: 100%;
    height: auto;
}

p.citation {
    opacity: 0.3;
    font-size: 0.8em;
}

p.citation a {
    color: black;
    opacity: 1;
}

#citations {
    margin-top: 75px;
}